<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page Not Found</title>
    <link rel="icon" href="/images/CompleteGreet/FavIcon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/mdb.css">
    <link rel="stylesheet" href="/css/Input-Style.css">
    <link rel="stylesheet" type="text/css" href="/css/HomePageNav.css">
    <link rel="stylesheet" type="text/css" href="/css/Footer.css">
    <link rel="stylesheet" type="text/css" href="/css/HomePage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>



<%  include HomePageNav.ejs%>
<div style="height: 60vh" class="page-container d-flex align-items-center">
    <div id="FAQ" class="Section-3 container mt-5">
        <div class="row  justify-content-center">
            <div class="col-md-3"></div>
            <div class="col-md-6 mb-5 mechanism">
                Page Not Found
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>


</div>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="application/javascript" src="/js/popper.min.js"></script>
<script type="application/javascript" src="/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/mdb.min.js"></script>
<script type="application/javascript" src="/js/fontawesome.js"></script>
<script type="application/javascript" src="/js/NavigationBar.js"></script>


</body>
</html>


