<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <link rel="icon" href="/images/CompleteGreet/FavIcon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/mdb.css">
    <link rel="stylesheet" href="/css/Input-Style.css">
    <link rel="stylesheet" type="text/css" href="/css/HomePageNav.css">
    <link rel="stylesheet" type="text/css" href="/css/Footer.css">
    <link rel="stylesheet" type="text/css" href="/css/about-us.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>



<%  include HomePageNav.ejs%>
<div class="page-container">
    <div class="Section-1 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-us-header mb-3">
<!--                        <span class="orangetext">HERE'S OUR TAKE </span>-->
<!--                        <span class="blueboldtext">WE THINK BUSINESS IS BEST WHEN </span>-->
<!--                        <span class="orangeboldtext">IT'S PERSONAL.</span>-->
                        <span class="orangeboldtext">Our Philosophy: </span>
                        <span class="blueboldtext"> Business is powered by communication </span>

                    </div>
                    <div class="about-us-text">
                        We’re real people just like you and your customers, which means we know the difference a friendly face and a pointer in the right direction can make. By turning your website into a helpful, useful corner of the online world, you can change the way browsers become buyers before you know it.<br>

                        Our goal is to help you make it happen with one simple change: seamless communication. Launch live chats, pop up in a video bubble, and make sure everyone gets exactly what they need from you. It’s the simple, scalable way to engage like never before. All you have to do is click to get started…
                    </div>
                    <div class="about-us-button">
                        <a href="mailto:contact@completegreet.com?subject=Your Topic" class="Button mt-3">
                            Contact Us
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <iframe style="min-height: 300px" class="w-100 h-100" src="https://www.youtube-nocookie.com/embed/jNo82YnmsgA?&enablejsapi=1" controlslist="nodownload" frameborder="0" allowfullscreen  allow="autoplay; encrypted-media" ></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="Section-2 mb-5 mt-3">
        <div class="container">
            <div class="row pb-md-0 position-relative">
                <div class="col-md-4">
                    <span class="blueboldtext">VISIONS &  </span>
                    <span class="orangeboldtext">VALUES</span>
                </div>
                <div class="col-md-8">
                    <div class="Section-2-header">
                        We believe communication is the secret to your success.
                    </div>
                    <div class="Section-2-text">
                        Technology is everywhere you look, but do generic, high-volume approaches really add anything beneficial? Just because the technology exists, does that make it worth using? When we asked ourselves these key questions we realized something: the more human the better.<br><br>

                        From that moment on we’ve worked tirelessly to create a personable, helpful service that changes the way you interact with your customers. CompleteGreet is our solution and it allows you to add the personal touch to every customer interaction. Just what you want to hear when it’s time to build your business the right way.
                    </div>
                </div>
                <div class="position-absolute Signature-Section">
                    <div class="signature-before-text">
                        WARMLY YOURS
                    </div>
                    <div class="signatureImg my-1">
                        <img src="/images/CompleteGreet/sign.jpg" alt="Signature">
                    </div>
<!--                    <div class="signatureName">-->
<!--                        OSWALDO JAKUBOWSKI-->
<!--                    </div>-->
                </div>

            </div>
        </div>
    </div>
</div>

<%  include Footer.ejs%>


<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="application/javascript" src="/js/popper.min.js"></script>
<script type="application/javascript" src="/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/mdb.min.js"></script>
<script type="application/javascript" src="/js/fontawesome.js"></script>
<script type="application/javascript" src="/js/NavigationBar.js"></script>


</body>
</html>


