<footer>
    <div class="footer-container">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="footer-logo mt-3">
                <img src="/images/CompleteGreet/CompleteGreet-1.png" alt="Logo">
            </div>
            <div class="footer-logo-Text mt-2">
                CompleteGreet
            </div>
            <div class="footer-mail-info d-flex flex-row align-items-center mt-2">
                <i class="fa-solid fa-envelope fa-lg mr-2"></i>
                <div class="mail-text">
                    contact@completegreet.com
                </div>
            </div>
            <div class="footer-location-info d-flex flex-row align-items-center mt-2">
                <i class="fa-solid fa-location-dot mr-2"></i>
                <div class="location-text">
                    Skivevej 177, 7500 Holstebro
                </div>
            </div>
            <div class="footer-nav w-75 d-flex flex-md-row flex-column align-items-center p-3 px-4 mt-3 justify-content-between">
                <div class="footer-nav-item my-1 my-md-0"><a class="footer-nav-link" href="/Pricing">Pricing</a></div>
                <div class="footer-nav-item my-1 my-md-0"><a class="footer-nav-link" href="/Affiliate-Program">Affiliate program</a></div>
                <div class="footer-nav-item my-1 my-md-0"><a class="footer-nav-link" href="/Blogs">Blog</a></div>
                <div class="footer-nav-item my-1 my-md-0"><a class="footer-nav-link" href="/About-Us">About Us</a></div>
                <div class="footer-nav-item my-1 my-md-0"><a class="footer-nav-link" href="/#FAQ">FAQ</a></div>
            </div>
            <div class="footer-media w-100">
                <div class="media-links w-50  mx-auto d-flex flex-row p-3 px-4 ">
                    <div class="footer-nav-media"><a class="footer-nav-media-link mx-2" href="https://www.facebook.com/CompleteGreet"><i class="fa-brands fa-facebook-f"></i></a></div>
                    <div class="footer-nav-media"><a class="footer-nav-media-link mx-2" href="#"><i class="fa-brands fa-instagram"></i></a></div>
                    <div class="footer-nav-media"><a class="footer-nav-media-link mx-2" href="#"><i class="fa-brands fa-twitter"></i></a></div>
                    <div class="footer-nav-media"><a class="footer-nav-media-link mx-2" href="#"><i class="fa-brands fa-tiktok"></i></a></div>
                </div>
            </div>
            <div class="copyrights d-flex flex-column align-items-center">
               <div class="mb-2"> © Copyright ComepleteGreet</div>
                <div>
                    made by
                    <a class="text-white" style="text-decoration: underline" target="_blank" href="https://webcodecare.com/">Web Code Care</a> with
                    <a class="text-white" style="text-decoration: underline" target="_blank"  href="https://www.webytoh.com/">webytoh</a>

                </div>
            </div>
        </div>
    </div>
</footer>
<%if(SystemBubbleCode){%>
<script>window.CompleteGreet_ID="<%=SystemBubbleCode%>";(function (s, a, l, u, t, e) {t = a.createElement(l),e = a.getElementsByTagName(l)[0];t.async = 1;t.src = u;e.parentNode.insertBefore(t, e)})(window, document, 'script', 'https://completegreet.com/js/CompleteGreetInstallation.js');</script>
<%}%>