<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=System[0].MetaTitle%></title>
    <link rel="icon" href="/images/CompleteGreet/FavIcon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=System[0].MetaDescription%>">

    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/mdb.css">
    <link rel="stylesheet" href="/css/Input-Style.css">
    <link rel="stylesheet" type="text/css" href="/css/HomePageNav.css">
    <link rel="stylesheet" type="text/css" href="/css/Footer.css">
    <link rel="stylesheet" type="text/css" href="/css/HomePage.css?v=12">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>



<%  include HomePageNav.ejs%>
<div class="page-container">
    <div class="Section-1 mt-4 d-flex align-items-center">
        <div class="d-flex h-100 align-items-center text-center flex-column justify-content-center position-relative">
            <div class="Home-page-Header text-uppercase">
                <span class="blueText Header-Text">Deliver better   </span>
                <span class="orangeText Header-Text">communication with live chat </span>
                <span class="blueText Header-Text">& video bubbles.</span>
                <span class="orangeText Header-Text"></span>
            </div>
            <div class="Home-page-Description position-relative">
                <span class="blueText Description-Text">
                   CompleteGreet combines live text chat and video bubbles in perfect harmony.  Did we mention that you can start for
                </span>
                <span class="orangeText Description-Text">
                    FREE today?
                </span>
                <div class="myarrow">
                    <span class="arrow left"></span>
                    <span class="line"></span>
                    <span class="arrow right"></span>
                </div>
            </div>
            <div class="getstart d-flex align-items-end mb-0 flex-row">
                <label class="Input-Style h-100 auto-input-focus w-75 mx-auto  d-block mt-4">
                    <input autocomplete="off" id="getstart-input" class="w-100 p-3" type="text" placeholder="Type here...">
                    <span class="multi-step-input-label" style="color: rgb(0, 0, 0);">Enter your email</span>
                </label>
                <div></div>
                <button style="top: -6px;height: 96%;" class="Button ml-2 d-flex align-items-center position-relative text-nowrap" id="getstart-btn">Get Started</button>
            </div>
            <div class="mb-5" style="text-align: center; font: normal normal 500 22px/33px Montserrat;; color: rgba(59,93,205,0.55);">
                Try us out for free, no credit card needed.
            </div>



        </div>
    </div>
    <div class="Section-2 mb-3 container">
        <div class="row justify-content-center">
            <div class="col-md-2"></div>
            <div class="col-md-8 mb-4 mechanism">
                Here’s How it Works
            </div>
            <div class="col-md-2"></div>

            <div class="col-12">
                <div style="font-size: 28px;line-height: 36px " class="Section-2-Header text-center  mb-3">
                    Perfect First Impressions <br> Personal Greetings <br> Trustworthy Presentation
                </div>
            </div>

        </div>
    </div>
    <div class="Section-2 mt-4 container">
        <div class="row justify-content-center">


            <div class="col-12">
                <div class="Section-2-Header text-center text-md-left my-3">
                    Pop up in a bubble.
                </div>
            </div>
            <div class="col-md-4 p-md-0 z-2 my-3">

                <div class="Section-2-Text mb-3">
                    Give your customers something to smile about by popping up with a personal greeting and make the right impression. Start with pre-recorded welcome messages that appear in the bubble, make the perfect first impression, and transition seamlessly to fully integrated live text chat. We’ve also made our bubbles look more attractive to customers than anyone else…
                </div>
            </div>
            <div class="col-md-8 p-md-0">
                <div class="Section-2-img">
                    <img src="/images/CompleteGreet/Dashboard.png" class="w-100" alt="Dashboard">
                </div>
            </div>
        </div>
    </div>
    <div class="Section-2 container">
        <div class="row">
            <div class="col-12">
                <div class="Section-2-Header text-center text-md-right my-3">
                    Deliver engaging content.
                </div>
            </div>
            <div class="col-md-8 p-md-0">
                <div class="Section-2-img">
                    <img src="/images/CompleteGreet/Map.png" class="w-100" alt="Dashboard">
                </div>
            </div>
            <div class="col-md-4 p-md-0 z-2 my-3">

                <div class="Section-2-Text mb-3 text-md-right">
                    Appear in just the right spot and put a name to a face so you can deliver a human approach to communication in the digital age. Whether it’s your homepage, company emails, or even some clever outreach, our video bubbles set you free to engage like never before. Give every employee their own bubble chat and your audience will know they’re in the right hands.           </div>
            </div>
        </div>
    </div>
    <div class="Section-2 container">
        <div class="row">
            <div class="col-12 z-2">
                <div class="Section-2-Header z-2 text-md-left text-center my-3">
                    Put your customers first
                </div>
            </div>
            <div class="col-md-4 p-md-0 z-2 my-3">

                <div class="Section-2-Text mb-3">
                    When your customers feel valued, they come back over and over again. Something as simple as a welcome message delivered in an engaging video bubble can massively increase contact rates before you know it. We’ve even made it so you can see which page they’re looking at when they get in touch. Perfect when you want to get right up to speed!
                </div>
            </div>
            <div class="col-md-8 p-md-0">
                <div class="Section-2-img w-75 mx-auto">
                    <img src="/images/CompleteGreet/Group 44.png" class="w-100 " alt="Dashboard">
                </div>
            </div>
        </div>
    </div>
    <div style="max-width: 1500px" id="FAQ" class="Section-3 container mt-5">
        <div class="row  justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 mb-5 mechanism">
            HAVE QUESTIONS?
        </div>
        <div class="col-md-3"></div>
        </div>
        <div style="max-width: 1500px" class="FAQ-Container mt-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 mb-3 mb-lg-5">
                            <div class="customfaq">
                                <button class="accordion"> How does it work?</button>
                                <div class="panel">
                                    <p class="FAQ-Text p-3">CompleteGreet connects you and your customers through handy little video bubbles and effortless live text chat. It really is that simple.  </p>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 mb-3 mb-lg-5">
                            <div class="customfaq">
                                <button class="accordion">Do I need live video chat?</button>
                                <div class="panel">
                                    <p class="FAQ-Text p-3">Being able to connect with customers and clients in an instant is the future of online work. Video bubbles are the most natural, relaxing way to make it happen.  </p>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 mb-3 mb-lg-5">
                            <div class="customfaq">
                                <button class="accordion">How does the live text chat work?</button>
                                <div class="panel">
                                    <p class="FAQ-Text p-3">Not everyone can talk right now, so we added some intuitive live text functionality to cater to everyone. Perfect when you want a variety of communication options at your fingertips. </p>

                                </div>
                            </div>


                        </div>
                        <div class="col-sm-12 mb-3 mb-lg-5">
                            <div class="customfaq">
                                <button class="accordion"> How do I know when I’m “Live”?</button>
                                <div class="panel">
                                    <p class="FAQ-Text p-3">When you’re “Live” an icon appears under your bubble allowing customers to chat just like you’re in the room with them. Need to work on something else? A quick click will pause your “Live” functionality. </p>

                                </div>
                            </div>


                        </div>

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 mb-3 mb-lg-5">
                            <div class="customfaq">
                                <button class="accordion">Why is this FREE?</button>
                                <div class="panel">
                                    <p class="FAQ-Text p-3">Don’t worry, we also have paid options! Our FREE version is designed to show you what we can do so you can make the right decision for your business. </p>

                                </div>
                            </div>


                        </div>
                        <div class="col-sm-12 mb-3 mb-lg-5">
                            <div class="customfaq">
                                <button class="accordion">What can I use a video bubble for?</button>
                                <div class="panel">
                                    <p class="FAQ-Text p-3">Sales, customer support, and of course a Completegreet. Video bubbles are the smart way to engage customers from the moment they arrive on your site. </p>

                                </div>
                            </div>


                        </div>
                        <div class="col-sm-12 mb-3 mb-lg-5">
                            <div class="customfaq">
                                <button class="accordion"> How do I know if this is right for me?</button>
                                <div class="panel">
                                    <p class="FAQ-Text p-3">Making use of our FREE Trial option is the best way to put us to the test because you can try before you buy. Once your trial is complete, we can even help recommend the ideal option based on your individual usage.</p>

                                </div>
                            </div>


                        </div>
                        <div class="col-sm-12 mb-3 mb-lg-5">
                            <div class="customfaq">
                                <button class="accordion">What happens when I’m not “Live”?</button>
                                <div class="panel">
                                    <p class="FAQ-Text p-3">Your bubble still displays and we’ll redirect every customer message to your email. Ideal when you want to make sure you never miss out on the chance to connect and engage. </p>

                                </div>
                            </div>


                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<!-- Back to top button -->

<a class=" justify-content-center align-items-center text-white d-none" id="BacktoTop">
   <i class="fa-solid ml-auto fa-3x fa-caret-up w-100"></i>
</a>
<%  include Footer.ejs%>


<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="application/javascript" src="/js/popper.min.js"></script>
<script type="application/javascript" src="/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/mdb.min.js"></script>
<script type="application/javascript" src="/js/fontawesome.js"></script>
<script type="application/javascript" src="/js/Sidebar.js"></script>
<script type="application/javascript" src="/js/HomePage.js"></script>


</body>
</html>


