<header>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a href="/">
            <img src="/images/CompleteGreet/<%=System[0].LogoImage%>" class="navbar-brand logo-img ml-2">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto d-flex justify-content-center align-items-center">
                <li  class="nav-item active">
                   <a  style="color: #06227E" href="/users/profile"> <i class="fa-solid fa-gear fa-xl mr-3"></i></a>
                </li>
                <li  style="color: #06227E" class="nav-item active position-relative">
                    <a  style="color: #06227E" href="/users/livechat">
                        <i class="fa-solid fa-bell fa-xl mr-3"></i>
                        <span class="button__badge d-none"></span>

                    </a>

                </li>

            </ul>
        </div>
    </nav>
</header>
